<div>
    <h2>
    {{selectedboard.title}}
  </h2>

    <script type="text/ng-template" id="categoryTree">
        <div ng-if="child.children">
            <button type="button" data-toggle="collapse" data-target="#category-{{child.id}}" class="btn btn-primary section-header" aria-expanded="true" aria-controls="category-{{child.id}}">
                {{ child.title }}
            </button>
            <div class="collapse in" id="category-{{child.id}}">

                <div ng-repeat="child in child.children" ng-include="'categoryTree'">
                </div>
            </div>
        </div>
        <div ng-if="!child.children">
          <a href="{{child.url}}" target="_blank">{{child.title}}</a>
        </div>
    </script>

    <div ng-repeat="child in selectedboard.children">
      <button type="button" data-toggle="collapse" data-target="#category-{{child.id}}" class="btn btn-primary section-header" aria-expanded="true" aria-controls="category-{{child.id}}">
                {{ child.title }}
            </button>
            <div class="mainContainer collapse in" id="category-{{child.id}}">

                <div class="box" ng-repeat="child in child.children" ng-include="'categoryTree'">
                </div>
            </div>

    </div>

    <!--ul>
        <li ng-repeat="child in selectedboard.children" ng-include="'categoryTree'"></li>
    </ul-->
</div>
